@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --principal-color: 271;
    --principal-color-hls: hsl(var(--principal-color), 100%, 50%);
    --secondary-color: 300;
    --secondary-color-hls: hsl(var(--secondary-color), 100%, 50%);
    --index-top : 100;
    --margin-left1: 20px;
    --margin-top1: 200px
}


* {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

a {
    text-decoration: none;
    position: relative;
}

.animation-side {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    left: -15%;
    top: 0;
    transform: skew(-45deg);
    transition: .2s;
}
/* 
.animate-side:hover {
    left: -15%;
} */


html {
    scroll-behavior: smooth;
}

.center-object {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MARK -----------------NAVBAR----------------- */
header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    list-style: none;
}

header ul li div {
    background-color: transparent;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    transition: .2s;
}

header ul li div:hover {
    transform: scale(1.2);
}

header ul li div::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 20px;
    height: 50%;
    background-color: #000;
    transform: rotate(45deg);
    transition: .2s;
}

header ul li div:hover::after {
    
    top: -22%;
    left: -10%;
}

header ul li div::before {
    position: absolute;
    content: '';
    width: 150%;
    height: 100%;
    background-color: var(--principal-color-hls);
    top: 0;
    left: -180%;
    transform: skew(-45deg);
    transition: .3s;
}
header ul li div:hover:before {
    left: -25%;
}



header ul li a{
    color: #000;
    font-size: 20px;
    display: flex;
    gap: 5px;
    background-color: transparent;
    z-index: 10;
    
    padding: 10px 20px;
    transition: .2s;
}
header ul li a:hover {
    color: #fff;
}

header ul li a span h4{
    font-size: 20px;
}






/* MARK -----------------HOME----------------- */
#home {
    min-height: auto;
    background: linear-gradient(#000000bd, #00000094), url('src/Banner2.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .home-content {
    width: 100%;
    height: auto;
    margin: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
}

#home .home-content .logo-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}


#home .dyw-logo {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#home .dyw-logo img {
    width: 120%;
    object-fit: cover;
    position: absolute;

}

#home .home-content .hero {
    width: auto;
    height: auto;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
}

#home .home-content .hero h1{
    color: #fff;
    font-size: 100px; 
    background-color: rgba(0, 0, 0, 0.26);
    padding: 25px;
    position: relative;
    border-top: 1px solid var(--principal-color-hls);

}

#home .home-content .hero h1::after{
    content: '';
    width: 20px ;
    height: 100%;
    background-color: var(--principal-color-hls);
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-content .hero h3{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 25px;
    position: relative;
    border-top: 1px solid var(--principal-color-hls);
    color: hsl(var(--principal-color), 100%, 80%);

}

#home .home-content .hero h3::after{
    content: '';
    width: 20px ;
    height: 100%;
    background-color: var(--principal-color-hls);
    position: absolute;
    top: 0;
    left: 0;
}

#home a {
    background-color: hsl(var(--principal-color), 100%, 50%);
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    color: #fff;
    transition: .2s;
    gap: 20px;
}

#home a .icon {
    font-size: 20px;
}


#home a:hover {
    color: hsl(var(--principal-color), 100%, 50%);
    background-color: #fff; 
    letter-spacing: 2px;  
}

#team {
    min-height: auto;
    background: linear-gradient(hsla(var(--principal-color), 70%, 50%, .8), hsla(var(--principal-color), 100%, 50%, .2)), url('src/Banner-back.png') ;
    background-position: center;
    background-size: cover;
    
    position: relative;
}

.section-header {
    height: 70px;
    width: 100%;
    background: linear-gradient(45deg, var(--principal-color-hls), var(--secondary-color-hls));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    box-shadow: 0px 10px 0 rgba(0, 0, 0, 0.274);
}


#team .cards-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    position: relative;
    gap: 90px;
    padding: 200px 0;
}

#team .cards-content .card {
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    position: relative;
    transition: .2s;
}



#team .cards-content .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(hsla(var(--principal-color), 100%, 50%, .8), hsla(var(--principal-color), 100%, 50%, .2)), url('src/Banner-back.png') ;
    top: 0;
    left: 0;

    border-radius: 20px 20px 0 0;
}

#team .cards-content .card:hover {
    transform: scale(1.1);
}


#team .cards-content .card .card-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--principal-color-hls);
}

#team .cards-content .card .card-image img {
    /* padding: 10px; */
    border: 10px solid #fff;
    border-radius: 50%;

    width: 145px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#team .cards-content .card .card-profesion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #999;
    font-size: 15px;
}

#team .cards-content .card .social-net {
    position: relative;
}

#team .cards-content .card .social-net ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#team .cards-content .card .social-net ul li a{
    color: #999;
    transition: .2s;
}

#team .cards-content .card .social-net ul li:hover a{
    color: #f00;
}


#team .cards-content .card .card-about-toggle {
    position: absolute;
    top: -10px;
    right: -20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: hsl(var(--principal-color), 100%, 50%);
    cursor: pointer;
    transition: .2s;
}

#team .cards-content .card .card-about-toggle:hover {
    background-color: hsl(var(--principal-color), 100%, 50%);
    color: #fff;
    border: 2px solid #000;
} 
#explore {
    min-height: auto;
    background-color: rgb(24, 24, 24);

    position: relative;
    box-sizing: border-box;
}

#explore .section-header {
    background: linear-gradient(45deg, #000, hsla(var(--principal-color), 100%, 50%, 1)) ;
    position: absolute;
    top: 0;
    left: 0;
}


#explore .explore-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 200px 0;
    
}

#explore .explore-content .world {
    width: 300px;
    height: 450px;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: .2s;
    box-sizing: border-box;

}

#explore .explore-content .world:hover {
    transform: scale(1.1);
    border: 2px solid var(--principal-color-hls);
    box-shadow: 10px 10px 10px hsla(var(--principal-color), 100%, 50%, .1);
}


#explore .explore-content .world .game-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsla(var(--principal-color), 100%, 50%);
    background-color: #000;
    width: 100%;
    text-align: center;
    position: relative;
}

#explore .explore-content .world .game-title::after{
    content: '';
    width: 10px;
    height: 100%;
    background-color: hsl(var(--principal-color), 100%, 50%);
    position: absolute;
    left: 0;
    top: 0;
}


#explore .explore-content .world p{
    font-size: 17px;
    font-weight: bold;
    color: rgb(189, 189, 189);
    padding: 0 10px;
    margin-top: 10px;

}

#explore .explore-content .world-image {
    background-color: red;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

}
#explore .explore-content .world-image img {
    width: 100%;
    object-fit: cover;
}

#explore .explore-content a {
    position: absolute;
    bottom: -20px;
    background-color: hsl(var(--principal-color), 100%, 50%);
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    transition: .2s
}

#explore .explore-content a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 10px 0 #000;
}

#explore .explore-content .world .more-info-toggle{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: hsl(var(--principal-color), 100%, 50%);
    border-radius: 10px;
    top: 80px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.185);
    cursor: pointer;
    transition: .2s;
    transform: scale(0);
}

#explore .explore-content .world:hover .more-info-toggle {
    transform: scale(1);
}

#explore .explore-content .world .more-info-toggle h2{
    color: #fff;
    background-color: transparent;
    width: auto;
    height: auto;
    position: relative;
    transform: translateY(8px);
    text-align: center;
}

#explore .explore-content .world .more-info-toggle:hover {
    background-color: hsl(var(--principal-color), 100%, 80%);
    transform: scale(1.2);
}

#explore .explore-content .world .more-info {
    position: absolute;
    width: 80%;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    top: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: .2s;
    transform: translateX(-50%) scale(0);

}

#explore .explore-content .info-activate .more-info  {
    transform: translateX(-50%) scale(1);
    
}


#explore .explore-content .world .more-info .close-button {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 50px;
    height: 50px;
    background-color: hsl(var(--principal-color), 100%, 50%);
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}
#explore .explore-content .world .more-info .close-button:hover {
    background-color: hsl(var(--principal-color), 100%, 80%);
    color: #fff;
}


/* MARK --------MODAL CLASS---------- */
.about-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.modal-activate,.modal-deactivate {
    display: flex;
    background-color: #00000083;
}

.about-modal .box-size {
    position: relative;
    width: 80vw;
    height: 90vh;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-modal .content {
    background-color: #fff;
    transition: 1s;
    position: relative;
    overflow: hidden;
}

.about-modal.modal-activate .content {
    animation: appear .7s ease-out forwards;

}

.about-modal.modal-deactivate .content {
    animation: dissapear .5s ease-out forwards;

}

.about-modal .content .head {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #fff;
    border-bottom: 1px solid #00000083;
}

.about-modal .content .head .modal-close {
    width: 100px;
    height: auto;
    background-color: #ddd;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.about-modal .content .head .modal-close:hover {
    background-color: var(--principal-color-hls);
    color: #fff;
}
.about-modal .content .head .modal-user-image {
    width: 100px;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.about-modal .content .head .modal-user-image img{
    width: 100%;
    object-fit: cover;;

}

.about-modal .content .skills-content {
    width: 100%;
    height: 400px;
    background-color: transparent;
    position: absolute;
    top: 100px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-modal .content .skills-content .skill {
    background-color: #eee;
    padding: 40px 30px;
    transition: .2s;
}


.about-modal .content .skills-content .skill:hover {
    background-color: hsl(var(--principal-color), 100%, 90%);
}
.about-modal .content .skills-content .skill .skill-bar {
    width: 100%;
    height: 10px;
    background-color: #00000012;
    margin-top: 10px;
    position: relative;
}
.about-modal .content .skills-content .skill .skill-bar .fill-bar{
    background-color: var(--principal-color-hls);
    content: '';
    width: 50%;
    height: 10px;
    position: absolute;
    left: 0;
}

.about-modal .content .skills-content .skill .skill-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-modal .content .skills-content .skill .skill-svg, .skill-name{
    font-size: 20px;
}



@keyframes appear {
    0% {
        width: 0;
        height: 100px;
    }
    50% {
        width: 100%;
        height: 100px;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes dissapear {
    0% {
        width: 80vw;
        height: 90vh;
    }
    50% {
        width: 80vw;
        height: 100px;
    }
    100% {
        width: 200px;
        height: 100px;
    }
}
footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #000;
}


@media (max-width:1200px) {
    #home .home-content .hero h1{
        font-size: 50px;
    }
}


@media (max-width:600px) {
    #home .dyw-logo {
        width: 300px;
        height: 300px;
    }

    .section-header {
        font-size: 20px;
    }
    #explore .explore-content .world {
        width: 100%;
    } 

    header ul {
        width: 100%;
    }

    #explore .explore-content .world .more-info-toggle{
        display: none;
    }

    .about-modal .box-size {
        width: 100vw;
    }
    .about-modal .content .head {
        height: 50px;
    }
    .about-modal .content .head .modal-user-image {
        width: 50px;
        height: 50px;
    }
    .about-modal .content .head .modal-close {
        width: 50px;
        height: 50px;
    }

    .about-modal .content .skills-content {
        top: 50px;
    }

    @keyframes appear {
        0% {
            width: 0;
            height: 50px;
        }
        50% {
            width: 100%;
            height: 50px;
        }
        100% {
            width: 100%;
            height: 100%;
        }
    }
    
    @keyframes dissapear {
        0% {
            width: 80vw;
            height: 90vh;
        }
        50% {
            width: 80vw;
            height: 50px;
        }
        100% {
            width: 100px;
            height: 50px;
        }
    }

}

@media (max-width:400px) {
    header ul li div span {
        font-size: 10px;
    }

    header ul li div span h4{
        font-size: 10px;
    }

    header ul li div::after{
        display: none;
    }

}

@media (max-height:800px) {
    .about-modal.modal-activate .content {
        max-height: 90vh;
    }
}